<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logBridge" type="SoftwarePassion.LogBridge.LogBridgeConfigurationSection, LogBridge"/>
  </configSections>

  <logBridge logWrapperType="SoftwarePassion.LogBridge.Tests.Unit.TestLogWrapper"
             throwOnResolverFail="true"
             internalDiagnosticsEnabled="true"
             stackFrameOffsetCount="0">
    <extendedProperties>
      <add name="Key" value="Value"/>
    </extendedProperties>
  </logBridge>
</configuration>