<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SoftwarePassion.LogBridge.InternalDiagnosticsEnabled" value="true"/>
    <!--<add key="SoftwarePassion.LogBridge.LogWrapperType" value="SoftwarePassion.LogBridge.Tests.Unit.TestLogWrapper"/>-->
  </appSettings>
</configuration>