<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="SoftwarePassion.LogBridge.InternalDiagnosticsEnabled" value="true"/>
    <add key="SoftwarePassion.LogBridge.ThrowOnResolverFail" value="true"/>
    <add key="SoftwarePassion.LogBridge.LogWrapperAssembly" value="LogBridge.Log4Net, Version=1.1.4.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SoftwarePassion.LogBridge.LogWrapperType" value="SoftwarePassion.LogBridge.Log4Net.Log4NetWrapper"/>
  </appSettings>

  <log4net>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender"/>

    <root>
      <level value="ALL" />
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref="MemoryAppender" />
    </root>

    <!--<logger name="RootLogger">
      <level value="ALL"/>
      <appender-ref ref="MemoryAppender"/>
    </logger>-->

  </log4net>
</configuration>