<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="logBridge" type="SoftwarePassion.LogBridge.LogBridgeConfigurationSection, LogBridge"/>
  </configSections>

  <logBridge logWrapperType="SoftwarePassion.LogBridge.Log4Net.Log4NetWrapper" logWrapperAssembly="LogBridge.Log4Net, Version=1.4.0.0, Culture=neutral, PublicKeyToken=d7ba0548b468e7b6" throwOnResolverFail="true" internalDiagnosticsEnabled="true">
    <extendedProperties>
      <add name="Property1" value="Value1"/>
      <add name="Property2" value="Value2"/>
    </extendedProperties>
  </logBridge>
  
  <appSettings>
  </appSettings>

  <log4net>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender"/>

    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref="MemoryAppender"/>
    </root>

    <logger name="RootLogger" Additivity="true">
      <level value="ALL"/>
      <!--<appender-ref ref="MemoryAppender"/>-->
    </logger>

  </log4net>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log\logbridge.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>
