<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="logBridge" type="SoftwarePassion.LogBridge.LogBridgeConfigurationSection, LogBridge"/>
  </configSections>

  <logBridge logWrapperType="SoftwarePassion.LogBridge.EnterpriseLibrary.EnterpriseLibraryWrapper" logWrapperAssembly="LogBridge.EnterpriseLibrary, Version=1.4.0.0, Culture=neutral, PublicKeyToken=null" throwOnResolverFail="true" internalDiagnosticsEnabled="true">
    <extendedProperties>
      <add name="Property1" value="Value1"/>
      <add name="Property2" value="Value2"/>
    </extendedProperties>
  </logBridge>

  <appSettings>
  </appSettings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Memory Destination" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, PublicKeyToken=31bf3856ad364e35" type="SoftwarePassion.LogBridge.EnterpriseLibrary.Tests.Unit.MemoryTraceListener, LogBridge.EnterpriseLibrary.Tests.Unit" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </listeners>
    <formatters>
      <add name="Text Formatter" template="Time: {timestamp}
  Message: {message}

  Category: {category}
  Priority: {priority}
  EventId: {eventid}
  Severity: {severity}
  Title: {title}
  Machine: {machine}
  Application Domain: {appDomain}
  Process Id: {processId}
  Process Name: {processName}
  Win32 Thread Id: {win32ThreadId}
  Thread Name: {threadName}
  {dictionary(  {key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Memory Destination"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Memory Destination"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Memory Destination"/>
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\log\logbridge.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
