<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="logBridge" type="SoftwarePassion.LogBridge.LogBridgeConfigurationSection, LogBridge"/>
  </configSections>

  <logBridge logWrapperType="SoftwarePassion.LogBridge.EnterpriseLibrary.EnterpriseLibraryWrapper"
             logWrapperAssembly="LogBridge.EnterpriseLibrary, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null"
             throwOnResolverFail="true"
             internalDiagnosticsEnabled="true">
    <extendedProperties>
      <add name="Property1" value="Value1"/>
      <add name="Property2" value="Value2"/>
    </extendedProperties>
  </logBridge>

  <appSettings>
    <add key="SoftwarePassion.LogBridge.InternalDiagnosticsEnabled" value="true"/>
    <add key="SoftwarePassion.LogBridge.ThrowOnResolverFail" value="true"/>
    <add key="SoftwarePassion.LogBridge.LogWrapperAssembly" value="LogBridge.EnterpriseLibrary, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SoftwarePassion.LogBridge.LogWrapperType" value="SoftwarePassion.LogBridge.EnterpriseLibrary.EnterpriseLibraryWrapper"/>
  </appSettings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Memory Destination" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, PublicKeyToken=31bf3856ad364e35" 
           type="SoftwarePassion.LogBridge.EnterpriseLibrary.Tests.Unit.MemoryTraceListener, LogBridge.EnterpriseLibrary.Tests.Unit"
           traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add name="Text Formatter" template="Time: {timestamp}&#xA;  Message: {message}&#xA;&#xA;  Category: {category}&#xA;  Priority: {priority}&#xA;  EventId: {eventid}&#xA;  Severity: {severity}&#xA;  Title: {title}&#xA;  Machine: {machine}&#xA;  Application Domain: {appDomain}&#xA;  Process Id: {processId}&#xA;  Process Name: {processName}&#xA;  Win32 Thread Id: {win32ThreadId}&#xA;  Thread Name: {threadName}&#xA;  {dictionary(  {key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </formatters>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:\log\logbridge.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>  
</configuration>