using System;
using System.Globalization;
using System.Linq;
using System.Collections.Generic;
using System.Runtime.CompilerServices;
using SoftwarePassion.Common.TimeProviding;
using SoftwarePassion.LogBridge.Configuring;
using SoftwarePassion.LogBridge.Implementation;
using SoftwarePassion.LogBridge.Extension;
