<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <appSettings>
    <add key="SoftwarePassion.LogBridge.InternalDiagnosticsEnabled" value="true"/>
    <add key="SoftwarePassion.LogBridge.ThrowOnResolverFail" value="true"/>
    <add key="SoftwarePassion.LogBridge.LogWrapperAssembly" value="LogBridge.EnterpriseLibrary, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Memory Destination" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, PublicKeyToken=31bf3856ad364e35"
           type="SoftwarePassion.LogBridge.EnterpriseLibrary.Tests.Unit.MemoryTraceListener, LogBridge.EnterpriseLibrary.Tests.Unit"
           traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    
    <formatters>
      <add name="Text Formatter" template="Time: {timestamp}&#xA;  Message: {message}&#xA;&#xA;  Category: {category}&#xA;  Priority: {priority}&#xA;  EventId: {eventid}&#xA;  Severity: {severity}&#xA;  Title: {title}&#xA;  Machine: {machine}&#xA;  Application Domain: {appDomain}&#xA;  Process Id: {processId}&#xA;  Process Name: {processName}&#xA;  Win32 Thread Id: {win32ThreadId}&#xA;  Thread Name: {threadName}&#xA;  {dictionary(  {key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </formatters>
    
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Memory Destination" />
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="e:\log\logbridge.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>